p{
    align-items: center;
    text-align: calc(70% - 500px);
    width: 500px;
text-shadow: "3";
}
h1{
    font-style: italic;
    /*font-size: 50px;*/
    /*font-family: "Times New Roman", Times, serif;*/
}